body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    padding: 10%;
    display: flex;
    height: 80vh;
    align-items: center;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
 
form label {
    font-weight: 500;
    font-optical-sizing: auto;
    display: block;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(49, 49, 49, .25);
}

#um, #dois{
    border-bottom: none;
}
#dois{
    margin: 5px;
    padding: 0;
}
form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
form .compra{
    display: flex;
    align-items: center;
    gap: 8px;
}
form .compra .valor{
    position: relative;
    width: 55%;
    display: flex;
    align-items: center;
}
form .compra .valor label{
    font-size: 16px;
    margin: 0;
    position: absolute;
    left:10px;
    top:10px;
    /* padding: 8px;
    border: 1px solid rgb(118, 118, 118);
    margin-bottom: 10px; */
}
input, select, #observacao{
    padding: .375rem .75rem .375rem;
    width: 100%;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
form .compra .valor input#valor{
    padding-left: 28px;
}
form .compra select#tipo, form .select select#tiporesidencia{
    width: 100%;
    padding-right: 28px;
}
form .select{
    display: flex;
    align-items: center;
    gap: 8px;
}
form .select i, form .compra i{
    margin-bottom: 10px;
    font-size: 20px;
}
form .select .icone, form .compra .icone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
}
.fa-tag, .fa-sack-dollar, .fa-house, .fa-building, .fa-hammer{
    --animate-duration: 0.5s;
    --animate-delay: 0;
}
form input#imagem{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
form button {
    margin-top: 16px;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    background: #000000;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.3s;
    border: 2px solid #000;
}

form button:hover {
    scale: 1.03;
    color: #000;
    background: #fff;
}
footer{
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-weight: 500;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: black;
}
